  <a href="/profiles/<%= profile.id %>">
  <h3 style="text-align:center;"><u>Coach <%= profile.first_name %> <%= profile.last_name[0] %>.</u></h3>
    
    <h4 style="text-align:center;">Sport: <%= profile.sport %></h4>
    <h4 style="text-align:center;">City: <%= profile.city %>, <%= profile.state %></h4>
    <div id="profile-pic" style="text-align:center;">
      <%= image_tag profile.picture %>
    </div>
  </a>
  
