

<h2>Create your CoachAtlas profile </h2>

<%= form_for Profile.new, :html => { :multipart => true } do |f| %>
  <div class="container"><br><br>
    <div class="control-group">
    <%= f.label :first_name, 'First name:', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div><div class="control-group">
    <%= f.label :last_name, 'Last name:', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sport, 'Enter the sport you coach:', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sport, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gender, "Gender:", :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:gender, Profile::GENDER, :to_s, :to_s, :include_blank => false) %>
    </div>
  </div>
 <div class="control-group">
    <%= f.label "Street Address:", "Address, street and unit #? Don't worry we will keep this private!", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :street, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
     <%= f.label :city, "City:", :class => 'control-label' %>
     <div class="controls">
       <%= f.text_field :city, :class => 'text_field' %>
     </div>
   </div>
   <div class="control-group">
    <%= f.label :state, "State:", :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:state, Profile::STATE, :to_s, :to_s, :include_blank => false) %>
    </div>
  </div>
  <div class="control-group">
      <%= f.label :zip_code, 'Zip Code:', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :zip_code, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
        <%= f.label :contact_email, 'Email:', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :contact_email, :class => 'text_field' %>
        </div>
      </div>
  <div class="control-group">
    <span class="help-inline">
    <%= f.label :bio, 'Describe yourself in one sentance (ie Former All-American soccer goalie who specializes in goalkeeper training.)', :class => 'control-label' %></span>
    <div class="controls">
      <%= f.text_area :bio, :class => "largearea" %>
    </div>
  </div>
  <div class="control-group">
    <span class="help-inline">
    <%= f.label :coaching_experience, 'Tell us a little about your background coaching your sport:', :class => 'control-label' %></span>
    <div class="controls">
      <%= f.text_area :coaching_experience, :class => "largearea" %>
    </div>
  </div>
  <div class="control-group">
    <span class="help-inline">
    <%= f.label :playing_experience, 'Tell us a little about your background playing your sport:', :class => 'control-label' %></span>
    <div class="controls">
      <%= f.text_area :playing_experience, :class => "largearea" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :profile_picture, "Upload a profile picture! It will help you get hired", :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :picture %>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :user_id, :user_id => current_user.id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :address, :address => @address, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                profiles_path, :class => 'btn' %>
  </div>
<% end %>
</div>