
<br>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              profiles_path %>
<br><br>

<%- model_class = Profile -%>

<div class="container" style="padding:30px;">
  <div class="row">
    <div class="span2 pull-left"><br><br>
      <%= image_tag @profile.picture_url %><br>
    </div>

    <div class="span6 pull-left">
      <div class="page-header">
        <h1><%=t '.title', :default => "Coach #{@profile.first_name} #{@profile.last_name[0]}." %></h1><br><br>
      </div>
        
         <h3><%= @profile.sport %> | <%= @profile.city %>, <%= @profile.state %></h3>
         <h5><%= @profile.bio[0..150] %> ...</h5>
       
      <br><br>
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">Experience</a></li>
          <li><a href="#tab2" data-toggle="tab">Photos</a></li>
          <li><a href="#tab3" data-toggle="tab">Contact Info</a></li>
          <li><a href="#tab4" data-toggle="tab">Social</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <ul class="unstyled">
              <h3>
              <br><li>Coaching Experience:</h3><h4> <%= @profile.coaching_experience %></li><br>
              <h3><li>Playing Experience:</h3><h4> <%= @profile.playing_experience %></li>
              </h4> 
            </ul>
          </div>
          <div class="tab-pane" id="tab2">
            <ul class="unstyled">
              <%= image_tag @profile.picture_url %>
            </ul>
          </div>
          <div class="tab-pane" id="tab3">
            <ul class="unstyled">
              <h3>
              
              <li>Email: 
                <% if user_signed_in? %><%= mail_to @profile.contact_email, "Email me", :encode => "hex", :subject => "Coachatlas contact request!" %><br>
                <% else %>
                <%= link_to "Sign in to get contact information", new_user_session_path %><br>
                <% end %><br>
                <li>Member Since: <%= @profile.created_at.localtime.strftime("%x")%></li><br>
              </h3>
            </ul>
          </div>
          <div class="tab-pane" id="tab4">
            <ul class="unstyled">
              <h4>Share This Profile:</h4>
              <br><li> 
                <a href="https://www.facebook.com/sharer/sharer.php?u=www.coachatlas.com/profiles/<%= @profile.id %>" target="_blank">
                  <img src="/images/share.jpg" alt="Facebook" height="30px" width="75px"></a> 
                
              </li><br>
              <li><h4> 
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this CoachAtlas Coach Profile: " data-size="large" data-related="@coachatlas_com" data-count="none">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> 
              </li></h4> 
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="span3 pull-left"><br><br>
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=11&center=#{@profile.city},#{@profile.state}&&markers=color:red%7Clabel:%7C#{@profile.latitude},#{@profile.longitude}" %><br>
    </div>
</div>



</div><br>
<div class="divider divider10"></div>
<div class="span10 pull-left">
  <h2>Similar coaches</h2>
    <% for profile in @profile.nearbys.first(3) %>
    <% if profile.nil? %>
    <h3>Sorry we couldn't find any coaches nearby</h3>
    <% else %>
    <div class="span2">
      <a href='/profiles/<%= profile.id %>'>
      <%= image_tag profile.picture.url %><br>
      <%= link_to "Coach: #{profile.first_name}", profile %><br></a> (<%= profile.distance.to_f.round(2) %> miles away) <br>
      Sport: <%= profile.sport %>
    </div><br>
    <% end %>  
    <% end %>
</div>
</div>
<div id="pre-footer">
</div>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              profiles_path, :class => 'btn'  %>
  <% if can? :update, @profile %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_profile_path(@profile), :class => 'btn' %>
  <% end %>
  <% if can? :destroy, @profile %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              profile_path(@profile),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% end %>

</div>
