<%= form_for @job, :html => { :multipart => true } do |f| %>
  <div class="container"><br><br>
    <div class="control-group">
    <%= f.label :job_title, 'Title:', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :job_title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :job_description, 'Description:', :class => 'control-label' %>
    <p><em>Describe what you are looking for in a coach and as much detail about the role as you can. The more detail the better your chances are of finding a great match!</em></p>
    <div class="controls">
      <%= f.text_area :job_description, :class => "largearea" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :job_qualifications, 'Job Qualifications:', :class => 'control-label' %>
    <p><em>Describe what qualities you are looking for in a coach.</em></p>
    <div class="controls">
      <%= f.text_area :job_qualifications, :class => "largearea" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :job_sport, 'Please enter the sport:', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :job_sport, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :job_gender, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:job_gender, Job::GENDER, :to_s, :to_s, :include_blank => false) %>
    </div>
  </div>
  <div class="control-group">
     <%= f.label :job_city, "City:", :class => 'control-label' %>
     <div class="controls">
       <%= f.text_field :job_city, :class => 'text_field' %>
     </div>
   </div>
   <div class="control-group">
    <%= f.label :job_state, "State:", :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:job_state, Job::STATE, :to_s, :to_s, :include_blank => false) %>
    </div>
  </div>
  <div class="control-group">
      <%= f.label :job_zip_code, 'Zip Code:', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :job_zip_code, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
        <%= f.label :job_email, 'Your Contact Email:', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :job_email, :class => 'text_field' %>
        </div>
      </div>
  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :user_id, :user_id => current_user.id, :class => 'text_field' %>
    </div>
  </div> 

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                jobs_path, :class => 'btn' %>
  </div>
<% end %>
</div>