<div class="container">
  <% if user_signed_in? %>
    <div class="row">
      <div class="span12">
        <h2 class="header_line" style="text-align:center"><span>Coaches create an account here » <a href="/profiles/new">Coach Sign Up</a></h2>
      </div>
    </div>
    <section class="mega-blockquote container" style="border:2px solid grey;">
      <div class="span7 pull-left">
        <div class="mega-blockquote-title"><img src="/images/beta-logo.jpg"></div>
        <p class="mega-blockquote-text">The best place to find sports coaches for your team, player or organization</p>
                  <p>
                    <%= form_tag profiles_path, :class => 'form-horizontal', method: :get do %>
                     
                       <%= text_field_tag :query, params[:query], :placeholder => 'Enter sport ...', :autocomplete => 'on', :type => 'text', :class=> 'input-medium' %>

                     
                       <%= text_field_tag :search, params[:search], :placeholder => 'Enter zip code ...', :autocomplete => 'on', :type => 'text', :class=> 'input-medium' %><br><br>

                       <%= submit_tag "Search", name: nil, :class => 'btn btn-primary' %>


                    </p>
                      <% end %>
        </div>
      <div class="span4">
        <img src="/images/player photo.jpg" style="border:1px solid grey;">
      </div>  
    </section>
  <% else %>
  <div class="row">
    <div class="span12">
      <h2 class="header_line" style="text-align:center"><span>Coaches create an account here » <a href="/users/sign_up">Coach Sign Up</a></h2>
    </div>
  </div>
      <section class="mega-blockquote container" style="border:2px solid grey;">
        <div class="span7 pull-left">
          <div class="mega-blockquote-title"><img src="/images/beta-logo.jpg"></div>
          <p class="mega-blockquote-text">The best place to find sports coaches for your team, player or organization</p>
                    <p>
                      <%= form_tag profiles_path, :class => 'form-horizontal', method: :get do %>
                       
                         <%= text_field_tag :query, params[:query], :placeholder => 'Enter sport ...', :autocomplete => 'on', :type => 'text', :class=> 'input-medium' %>

                       
                         <%= text_field_tag :search, params[:search], :placeholder => 'Enter zip code ...', :autocomplete => 'on', :type => 'text', :class=> 'input-medium' %>

                         <%= submit_tag "Search", name: nil, :class => 'btn btn-small' %>


                      </p>
                        <% end %>
        </div>
        <div class="span4">
          <img src="/images/player photo.jpg" style="border:1px solid grey;">
          <div class="span4" style="padding:10px; text-align:center;">
            
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=119413348252389";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

            <div class="fb-like" data-href="http://www.facebook.com/pages/CoachAtlascom/398372406847393?ref=hl" data-send="true" data-width="450" data-show-faces="false"></div>

            
            <a href="https://twitter.com/CoachAtlas_com" class="twitter-follow-button" data-show-count="true">Follow @CoachAtlas_com</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>    
        </div>                
      </section>

  <% end %>
</div><br><br>

<section class="latest-work">
    <div class="container">
    
        <div class="divider divider10"><span>AS FEATURED IN</span></div>
    
        <div class="row">
            <div class="span12">
                <!-- custom buttons for mobile only -->
                <div class="customBtns customBtns-phone visible-phone">
                    <span class="arrowPrev2 jp-disabled"></span>
                    <span class="arrowNext2"></span>
                </div>
            

                <!-- item container -->
                <ul id="ourclients" class="thumbnails" style="min-height: 158px;">
                    <li class="span3" style="display: list-item; text-align:center; font-size:20px; line-height:20px;opacity: 1;"><div class="well">
                        <img src="/images/bee.jpg">
                    </div></li>
                    <li class="span3" style="display: list-item; text-align:center; font-size:20px; line-height:20px;opacity: 1;"><div class="well">
                        <img src="/images/bee.jpg">
                    </div></li>
                    <li class="span3" style="display: list-item; text-align:center; font-size:20px; line-height:20px;opacity: 1;"><div class="well">
                        <img src="/images/bee.jpg">
                    </div></li>
                    <li class="span3" style="display: list-item; text-align:center; font-size:20px; line-height:20px;opacity: 1;"><div class="well">
                        <img src="/images/bee.jpg">
                    </div></li>
                    
                    
                </ul>
            </div>
        </div>
    </div>
</section>

<div id="pre-footer">
</div>